<!DOCTYPE html>
<html lang="en">
<head>
<title>Class List: Edit</title>
<meta charset="utf-8" />
</head>
<body>
<form action="./api/addStudentNumberNCourse" method="post">
<div>
<label for="studentName">Enter The Student's Name:</label>
<input type="text" id="student" name="student">

<label for="studentName2">Enter The Student's New student name:</label>
<input type="text" id="Newstudent" name="studentNumber">

<label for="studentName3">Enter The Student's New student name:</label>
<input type="text" id="Newstudent2" name="StudentCourse">
</div>
<div class="button">
<button type="submit">Change</button>
</div>
</form>
</body>
</html>